.wrap{
    background-color: #fcf8e2;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

.title{
    border: 1px solid red;
    width: 500px;
    height: 90px;
    margin: 0 auto;
    font-size: 70px;
    text-align: center;
}

.main-img{
    border: 1px solid red;
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 500px;
}

.main-img img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -200px;
    
}